@font-face {
    font-family: 'docteur_atomicregular';
    src: url('ressources/polices/docteur_atomic-webfont.woff2') format('woff2'),
		 url('ressources/polices/docteur_atomic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

#menu {
	position: absolute;
	bottom: 10vh;
	width: 100%;
	text-align: center;
	
}

h1{
	font-family: docteur_atomicregular ;
	text-align: center;
	font-size: 193pt;
	color: white;
	font-weight: normal;
	
}

body{

	background-image: url(ressources/image/fond.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

button {
	color: rgb(255, 255, 255);
	background-color: rgba(0, 255, 255, 0);
	outline: 0px solid rgba(127,255,255,0.75);
	border: 0px;
	padding: 5px 10px;
	cursor: pointer;
	font-size: 100px;
	font-family: Chalkduster, fantasy;
	height: 125px;
	text-shadow: 0.1em 0.1em #333

}

button:hover {
	color: #00f83e;
}

button:active {
	color: #000000;
	
}