body{
    background-image: url(../img/fond\ copie.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}


.title{
    text-align: center;
    font-family: "police1";
    font-size: 120px;
   background: #fffbd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
    width: 1100px;
    margin-left:280px;
    

}






img:hover{
    box-shadow: inset 0 0 10px rgba(255,255,255,.5),0 0 20px red;
    outline-color: rgba(255,255,255,0);
    outline-offset: 25px;
}


img{
    width: 250px;
    border:3px solid black;
    border-radius: 15px;
    
}

.vs{
    width:200px;
    border:none;
     box-shadow: none;
    outline-color:none
   

}

@font-face {
 font-family: "police1";
 src: url("assets/fonts/docteur_atomic.ttf");
}

p{
    
    font-size: 70px;
   background: #fffbd5;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #b20a2c, #fffbd5);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #b20a2c, #fffbd5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    -webkit-background-clip: text;
      color: transparent;
      -webkit-text-fill-color: transparent;
   
    
    
}
